    <div class="container">
      <div class="row">
        <div class="col-xs-6">
        </div>
        <div class="col-xs-6 text-right">
         
          
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div class="panel panel-default">
            <div class="panel-heading">
            <h1>DeliveryOrder</h1>
              <br/>
              <br/>
              <br/>
              <br/>
              <br/>
            
            </div>
            <div class="panel-body">
             <p>
                 No     : <%= @object.nomor_surat %>
                  <br/>
                 Date   : <%= @object.delivery_date.strftime("%d-%m-%Y") %>
              </p>
            </div>
          </div>
        </div>
        



        <div class="col-xs-5 col-xs-offset-2 text-right">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>To : <a href="#"><%= @contact.name %></a></h4>
            </div>
            <div class="panel-body">
              <p>
          
                <%= @contact.address %> 
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- / end client details section -->
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>
              <h4>No</h4>
            </th>
            <th>
              <h4>Sku</h4>
            </th>
            <th>
              <h4>Nama Produk</h4>
            </th>
            <th>
              <h4>Qty</h4>
            </th>
      
          </tr>
        </thead>
        <tbody>
          
          <% counter  = 1 %>
          <% total = BigDecimal("0") %>
          <% @object.delivery_order_details.each do |detail| %>
            <tr>
              <td><%= counter %></td>
              <td> <%= detail.item.sku %></td>
              <td> <%= detail.item.name %></td>
              <td><%= detail.amount  %> x <%= detail.item.uom.name %></td>
 
            </tr>
            <% counter = counter + 1 %> 
     
            
          <% end %>
 
        </tbody>
      </table>
      <!-- 
      <div class="row text-right">
        <div class="col-xs-2 col-xs-offset-8">
          <p>
            <strong>
      
            Total : <br>
            </strong>
          </p>
        </div>
        <div class="col-xs-2">
          <strong> 
          <%#= number_to_currency total, unit: '', separator: ',', delimiter: '.', format: '%n %u' %>
          <br>
          </strong>
        </div>
      </div> -->
      
      
   <!--   <div class="row" style="margin-top:10px;">-->
 
   <!--     <div class="col-xs-12" style='border:none;'>-->
   <!--       <div class="span12">-->
   <!--         <div class="panel panel-info" style='border:none;'>-->
   <!--           <div class="panel-heading">-->
   <!--             <h4>Notes</h4>-->
   <!--           </div>-->
   <!--           <div class="panel-body" style='border:none;'>-->
   <!--             <p>-->

   <!--             </p>-->
   <!--           </div>-->
   <!--         </div>-->
   <!--       </div>-->
   <!--     </div>-->
   <!--   </div>-->
   <!-- </div>-->
   
   
   <!--<div class="row">-->
   <!--     <div class="col-xs-4 text-center">-->
   <!--       <div class="panel panel-default">-->
   <!--         <div class="panel-heading">-->
   <!--           <h4>Authorized Signature</h4>-->
   <!--         </div>-->
   <!--         <div class="panel-body">-->
   <!--           <p>-->
   <!--              <br /><br /><br />-->
   <!--              <%= "..................."*3 %>-->
   <!--           </p>-->
   <!--         </div>-->
   <!--       </div>-->
   <!--     </div>-->
        



   <!--     <div class="col-xs-4  text-center">-->
   <!--       <div class="panel panel-default">-->
   <!--         <div class="panel-heading">-->
   <!--           <h4>Checked By</h4>-->
   <!--         </div>-->
   <!--         <div class="panel-body">-->
   <!--           <p>-->
   <!--               <br /><br /><br />-->
   <!--            <%= "..................."*3 %>-->
   <!--           </p>-->
   <!--         </div>-->
   <!--       </div>-->
   <!--     </div>-->
        
        
   <!--     <div class="col-xs-4  text-center">-->
   <!--       <div class="panel panel-default">-->
   <!--         <div class="panel-heading">-->
   <!--           <h4>Signature, name and stamp</h4>-->
   <!--         </div>-->
   <!--         <div class="panel-body">-->
   <!--           <p>-->
   <!--               <br /><br /><br />-->
   <!--            <%= "..................."*3 %>-->
   <!--           </p>-->
   <!--         </div>-->
   <!--       </div>-->
   <!--     </div>-->
   <!--   </div>-->