     <div class="outer">
        <div class="wraper">
        <!--start of banner-->
            <div class="banner">
                <div class="contactBanner">
                    <h1 style="color:#296da0;">Fasilitas</h1>
                </div>
            </div>
            <!--end of banner-->
            <!--start of mainbody-->
            <div class="mainbody">
                <dl class="tourInfo">
                    <dd>
                        <h3 class="subTitle">City Square</h3>
                        <p><%= image_tag "fb/facility/green_square.jpg" %></p> 
                    </dd>

                    <dd>
                        <h3 class="subTitle">Playground</h3>
                        <p><%= image_tag "fb/facility/children_playground.jpg" %></p> 
                    </dd>

                    <dd>
                        <h3 class="subTitle">Track Jogging</h3>
                        <p><%= image_tag "fb/facility/jogging_track.jpg" %></p> 
                    </dd>

                    <dd>
                        <h3 class="subTitle">Swimming Pool</h3>
                        <p><%= image_tag "fb/facility/swimming_pool.jpg" %></p> 
                    </dd>

                    <dd>
                        <h3 class="subTitle">Club House</h3>
                        <p><%= image_tag "fb/facility/club_house.jpg" %></p> 
                    </dd>

                    <dd>
                        <h3 class="subTitle">Badminton Court</h3>
                        <p><%= image_tag "fb/facility/badminton_court.jpg" %></p> 
                    </dd>

                    <dd>
                        <h3 class="subTitle">BasketBall Court</h3>
                        <p><%= image_tag "fb/facility/basketball_court.jpg" %></p> 
                    </dd>

                    <dd>
                        <h3 class="subTitle">Tennis Court</h3>
                        <p><%= image_tag "fb/facility/tennis_court.jpg" %></p> 
                    </dd>




                
                </dl>        
<!--                 <div class="mainBottom"><p><a href="http://futsalbilling.com/purchase.php">Lihat harga</a>, 
                   atau <a href="./tour_files/tour.html">Pelajari lebih lanjut</a></p>
                </div> -->
            </div>
            <!--end of mainbody-->
        </div>
    </div>