     <div class="outer">
        <div class="wraper">
        <!--start of banner-->
            <div class="banner">
                <div class="contactBanner">
                    <h1 style="color:#296da0;">Tipe Property</h1>
                </div>
            </div>
            <!--end of banner-->
            <!--start of mainbody-->
            <div class="mainbody">
                <dl class="tourInfo">
                    <dd>
                        <h3 class="subTitle">Arizona</h3>
                        <p><%= image_tag "fb/property_type/arizona-gm.jpg" %></p> 
                    </dd>

                    <dd>
                        <h3 class="subTitle">Atlanta</h3>
                        <p><%= image_tag "fb/property_type/atlanta-gm.jpg" %></p> 
                    </dd>

                    <dd>
                        <h3 class="subTitle">Beverly Hills</h3>
                        <p><%= image_tag "fb/property_type/beverly-hills-gm.jpg" %></p> 
                    </dd>

                    <dd>
                        <h3 class="subTitle">Boston</h3>
                        <p><%= image_tag "fb/property_type/boston-gm.jpg" %></p> 
                    </dd>


                    <dd>
                        <h3 class="subTitle">California</h3>
                        <p><%= image_tag "fb/property_type/california-gm.jpg" %></p> 
                    </dd>

                    <dd>
                        <h3 class="subTitle">Boston</h3>
                        <p><%= image_tag "fb/property_type/chicago-gm.jpg" %></p> 
                    </dd>

                
                </dl>        
<!--                 <div class="mainBottom"><p><a href="http://futsalbilling.com/purchase.php">Lihat harga</a>, 
                   atau <a href="./tour_files/tour.html">Pelajari lebih lanjut</a></p>
                </div> -->
            </div>
            <!--end of mainbody-->
        </div>
    </div>