<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META http-equiv="X-UA-Compatible" content="IE=8">
<TITLE>Created by BCL easyConverter SDK 3 (HTML Version)</TITLE>
<STYLE type="text/css">

body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 28px 0px 49px 40px;padding: 0px;border: none;width: 696px;}
#page_1 #id_1 {border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 696px;overflow: hidden;}
#page_1 #id_2 {border:none;margin: 26px 0px 0px 165px;padding: 0px;border:none;width: 512px;overflow: hidden;}





.ft0{font: 11px 'Arial';line-height: 14px;}
.ft1{font: 1px 'Arial';line-height: 1px;}
.ft2{font: italic 11px 'Arial';line-height: 14px;}
.ft3{font: 9px 'Arial';line-height: 12px;}
.ft4{font: 1px 'Arial';line-height: 5px;}
.ft5{font: 10px 'Arial';line-height: 13px;}
.ft6{font: 1px 'Arial';line-height: 4px;}
.ft7{font: 1px 'Arial';line-height: 12px;}
.ft8{font: 11px 'Arial';line-height: 12px;}
.ft9{font: 1px 'Arial';line-height: 3px;}
.ft10{font: 11px 'Arial';line-height: 11px;}
.ft11{font: 1px 'Arial';line-height: 11px;}
.ft12{font: 1px 'Arial';line-height: 2px;}
.ft13{font: 1px 'Arial';line-height: 13px;}
.ft14{font: 11px 'Arial';line-height: 13px;}
.ft15{font: 1px 'Arial';line-height: 9px;}
.ft16{font: 1px 'Arial';line-height: 7px;}
.ft17{font: 1px 'Arial';line-height: 6px;}
.ft18{font: 8px 'Arial';line-height: 10px;}

.p0{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p1{text-align: left;padding-left: 16px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p2{text-align: left;padding-left: 8px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p3{text-align: right;padding-right: 39px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p4{text-align: right;padding-right: 4px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p5{text-align: left;padding-left: 5px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p6{text-align: left;padding-left: 48px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p7{text-align: right;padding-right: 9px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p8{text-align: left;padding-left: 2px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p9{text-align: left;padding-left: 11px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p10{text-align: right;padding-right: 3px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p11{text-align: left;padding-left: 24px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p12{text-align: left;padding-left: 6px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p13{text-align: right;padding-right: 61px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p14{text-align: right;padding-right: 5px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p15{text-align: center;padding-right: 2px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p16{text-align: center;padding-right: 11px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p17{text-align: right;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p18{text-align: center;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p19{text-align: center;padding-right: 14px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p20{text-align: right;padding-right: 13px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}

.td0{padding: 0px;margin: 0px;width: 208px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 56px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
.td3{padding: 0px;margin: 0px;width: 24px;vertical-align: bottom;}
.td4{padding: 0px;margin: 0px;width: 16px;vertical-align: bottom;}
.td5{padding: 0px;margin: 0px;width: 4px;vertical-align: bottom;}
.td6{padding: 0px;margin: 0px;width: 12px;vertical-align: bottom;}
.td7{padding: 0px;margin: 0px;width: 216px;vertical-align: bottom;}
.td8{padding: 0px;margin: 0px;width: 72px;vertical-align: bottom;}
.td9{padding: 0px;margin: 0px;width: 136px;vertical-align: bottom;}
.td10{padding: 0px;margin: 0px;width: 112px;vertical-align: bottom;}
.td11{padding: 0px;margin: 0px;width: 76px;vertical-align: bottom;}
.td12{padding: 0px;margin: 0px;width: 104px;vertical-align: bottom;}
.td13{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 80px;vertical-align: bottom;}
.td14{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
.td15{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 56px;vertical-align: bottom;}
.td16{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 4px;vertical-align: bottom;}
.td17{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 12px;vertical-align: bottom;}
.td18{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 16px;vertical-align: bottom;}
.td19{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 24px;vertical-align: bottom;}
.td20{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 112px;vertical-align: bottom;}
.td21{padding: 0px;margin: 0px;width: 60px;vertical-align: bottom;}
.td22{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 48px;vertical-align: bottom;}
.td23{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
.td24{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 136px;vertical-align: bottom;}
.td25{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 72px;vertical-align: bottom;}
.td26{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 80px;vertical-align: bottom;}
.td27{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 60px;vertical-align: bottom;}
.td28{padding: 0px;margin: 0px;width: 48px;vertical-align: bottom;}
.td29{padding: 0px;margin: 0px;width: 144px;vertical-align: bottom;}
.td30{border-top: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 56px;vertical-align: bottom;}
.td31{border-top: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 4px;vertical-align: bottom;}
.td32{border-top: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 12px;vertical-align: bottom;}
.td33{border-top: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 16px;vertical-align: bottom;}
.td34{border-top: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 24px;vertical-align: bottom;}
.td35{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 120px;vertical-align: bottom;}
.td36{padding: 0px;margin: 0px;width: 100px;vertical-align: bottom;}
.td37{border-left: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 135px;vertical-align: bottom;}
.td38{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 141px;vertical-align: bottom;}
.td39{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 11px;vertical-align: bottom;}
.td40{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 48px;vertical-align: bottom;}
.td41{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 21px;vertical-align: bottom;}
.td42{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 59px;vertical-align: bottom;}
.td43{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 6px;vertical-align: bottom;}
.td44{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 90px;vertical-align: bottom;}
.td45{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 72px;vertical-align: bottom;}
.td46{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 13px;vertical-align: bottom;}
.td47{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 98px;vertical-align: bottom;}
.td48{border-left: #000000 1px solid;padding: 0px;margin: 0px;width: 135px;vertical-align: bottom;}
.td49{padding: 0px;margin: 0px;width: 141px;vertical-align: bottom;}
.td50{padding: 0px;margin: 0px;width: 11px;vertical-align: bottom;}
.td51{padding: 0px;margin: 0px;width: 21px;vertical-align: bottom;}
.td52{padding: 0px;margin: 0px;width: 59px;vertical-align: bottom;}
.td53{padding: 0px;margin: 0px;width: 6px;vertical-align: bottom;}
.td54{padding: 0px;margin: 0px;width: 90px;vertical-align: bottom;}
.td55{padding: 0px;margin: 0px;width: 13px;vertical-align: bottom;}
.td56{padding: 0px;margin: 0px;width: 75px;vertical-align: bottom;}
.td57{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 23px;vertical-align: bottom;}
.td58{border-left: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 135px;vertical-align: bottom;}
.td59{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 88px;vertical-align: bottom;}
.td60{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 53px;vertical-align: bottom;}
.td61{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 11px;vertical-align: bottom;}
.td62{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 8px;vertical-align: bottom;}
.td63{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 13px;vertical-align: bottom;}
.td64{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 59px;vertical-align: bottom;}
.td65{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 6px;vertical-align: bottom;}
.td66{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 34px;vertical-align: bottom;}
.td67{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 75px;vertical-align: bottom;}
.td68{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 23px;vertical-align: bottom;}
.td69{padding: 0px;margin: 0px;width: 88px;vertical-align: bottom;}
.td70{padding: 0px;margin: 0px;width: 53px;vertical-align: bottom;}
.td71{padding: 0px;margin: 0px;width: 8px;vertical-align: bottom;}
.td72{padding: 0px;margin: 0px;width: 34px;vertical-align: bottom;}
.td73{padding: 0px;margin: 0px;width: 69px;vertical-align: bottom;}
.td74{padding: 0px;margin: 0px;width: 3px;vertical-align: bottom;}
.td75{padding: 0px;margin: 0px;width: 22px;vertical-align: bottom;}
.td76{padding: 0px;margin: 0px;width: 23px;vertical-align: bottom;}
.td77{padding: 0px;margin: 0px;width: 14px;vertical-align: bottom;}
.td78{padding: 0px;margin: 0px;width: 18px;vertical-align: bottom;}
.td79{padding: 0px;margin: 0px;width: 64px;vertical-align: bottom;}
.td80{padding: 0px;margin: 0px;width: 49px;vertical-align: bottom;}
.td81{padding: 0px;margin: 0px;width: 80px;vertical-align: bottom;}
.td82{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 3px;vertical-align: bottom;}
.td83{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 22px;vertical-align: bottom;}
.td84{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 23px;vertical-align: bottom;}
.td85{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 64px;vertical-align: bottom;}
.td86{padding: 0px;margin: 0px;width: 40px;vertical-align: bottom;}
.td87{border-top: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 72px;vertical-align: bottom;}
.td88{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 104px;vertical-align: bottom;}
.td89{border-top: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 8px;vertical-align: bottom;}
.td90{border-top: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 3px;vertical-align: bottom;}
.td91{border-top: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 22px;vertical-align: bottom;}
.td92{border-top: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 23px;vertical-align: bottom;}
.td93{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 14px;vertical-align: bottom;}
.td94{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 18px;vertical-align: bottom;}
.td95{border-top: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 64px;vertical-align: bottom;}
.td96{border-top: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 112px;vertical-align: bottom;}
.td97{border-left: #000000 1px solid;padding: 0px;margin: 0px;width: 103px;vertical-align: bottom;}
.td98{padding: 0px;margin: 0px;width: 131px;vertical-align: bottom;}
.td99{padding: 0px;margin: 0px;width: 37px;vertical-align: bottom;}
.td100{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 111px;vertical-align: bottom;}
.td101{border-left: #000000 1px solid;padding: 0px;margin: 0px;width: 71px;vertical-align: bottom;}
.td102{border-left: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 71px;vertical-align: bottom;}
.td103{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 111px;vertical-align: bottom;}
.td104{padding: 0px;margin: 0px;width: 27px;vertical-align: bottom;}
.td105{border-top: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 14px;vertical-align: bottom;}
.td106{border-top: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 18px;vertical-align: bottom;}
.td107{padding: 0px;margin: 0px;width: 256px;vertical-align: bottom;}

.tr0{height: 19px;}
.tr1{height: 39px;}
.tr2{height: 17px;}
.tr3{height: 16px;}
.tr4{height: 5px;}
.tr5{height: 4px;}
.tr6{height: 12px;}
.tr7{height: 15px;}
.tr8{height: 3px;}
.tr9{height: 11px;}
.tr10{height: 28px;}
.tr11{height: 27px;}
.tr12{height: 2px;}
.tr13{height: 13px;}
.tr14{height: 14px;}
.tr15{height: 9px;}
.tr16{height: 7px;}
.tr17{height: 6px;}
.tr18{height: 26px;}
.tr19{height: 18px;}
.tr20{height: 29px;}
.tr21{height: 21px;}
.tr22{height: 20px;}
.tr23{height: 32px;}
.tr24{height: 30px;}
.tr25{height: 23px;}
.tr26{height: 37px;}

.t0{width: 696px;font: 11px 'Arial';}
.t1{width: 696px;margin-top: 14px;font: italic 11px 'Arial';}
.t2{width: 696px;margin-top: 12px;font: 11px 'Arial';}
.t3{width: 512px;font: 8px 'Arial';}

</STYLE>
</HEAD>

<BODY>
<DIV id="page_1">


<DIV id="id_1">
<TABLE cellpadding=0 cellspacing=0 class="t0">
<TR>
	<TD colspan=5 class="tr0 td0"><P class="p0 ft0">RECOVERING WORKCHART</P></TD>
	<TD class="tr0 td1"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr0 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr0 td3"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr0 td4"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr0 td1"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr0 td5"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr0 td6"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr0 td4"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr0 td3"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr0 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD colspan=3 class="tr0 td7"><P class="p0 ft2">This workchart has to stay with the rollers</P></TD>
</TR>
<TR>
	<TD class="tr1 td8"><P class="p0 ft0">Order No.</P></TD>
	<TD colspan=4 class="tr1 td9"><P class="p0 ft0">: <%= @object.recovery_order.code %></P></TD>
	<TD colspan=3 class="tr1 td10"><P class="p1 ft3">Roller Incoming Date</P></TD>
	<TD colspan=3 class="tr1 td11"><P class="p1 ft0">: <%= @object.roller_identification_form_detail.roller_identification_form.incoming_roll.strftime("%d-%m-%Y") %></P></TD>
	<TD class="tr1 td6"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr1 td4"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr1 td3"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr1 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD colspan=2 class="tr1 td12"><P class="p2 ft0">Delivery Date</P></TD>
	<TD class="tr1 td10"><P class="p0 ft0">:</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr2 td8"><P class="p0 ft0">Date</P></TD>
	<TD colspan=2 rowspan=2 class="tr3 td13"><P class="p0 ft0">: <%= DateTime.now.strftime("%d-%m-%Y") %></P></TD>
	<TD rowspan=2 class="tr3 td14"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr4 td3"><P class="p0 ft4">&nbsp;</P></TD>
	<TD colspan=3 rowspan=2 class="tr2 td10"><P class="p1 ft5">CN Incoming Date</P></TD>
	<TD rowspan=2 class="tr2 td4"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td16"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td18"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td19"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr4 td2"><P class="p0 ft4">&nbsp;</P></TD>
	<TD colspan=2 rowspan=2 class="tr2 td12"><P class="p2 ft0">Status</P></TD>
	<TD class="tr5 td20"><P class="p0 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr6 td3"><P class="p0 ft7">&nbsp;</P></TD>
	<TD colspan=2 class="tr6 td21"><P class="p0 ft8">: <%= @object.roller_identification_form_detail.roller_identification_form.incoming_roll.strftime("%d-%m-%Y") %></P></TD>
	<TD class="tr6 td6"><P class="p0 ft7">&nbsp;</P></TD>
	<TD class="tr6 td4"><P class="p0 ft7">&nbsp;</P></TD>
	<TD class="tr6 td3"><P class="p0 ft7">&nbsp;</P></TD>
	<TD class="tr6 td2"><P class="p0 ft7">&nbsp;</P></TD>
	<TD class="tr6 td10"><P class="p0 ft8">:</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr7 td8"><P class="p0 ft0">Customer</P></TD>
	<TD class="tr8 td22"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td23"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td23"><P class="p0 ft9">&nbsp;</P></TD>
	<TD rowspan=2 class="tr7 td3"><P class="p0 ft1">&nbsp;</P></TD>
	<TD colspan=3 rowspan=2 class="tr7 td10"><P class="p1 ft0">Total Quantity</P></TD>
	<TD rowspan=2 class="tr7 td4"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td16"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td18"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td19"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr5 td2"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td8"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td2"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr8 td20"><P class="p0 ft9">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=3 class="tr9 td10"><P class="p0 ft10">: <%= @object.roller_identification_form_detail.roller_identification_form.contact.name %></P></TD>
	<TD colspan=2 class="tr9 td21"><P class="p0 ft10">: <%= @object.recovery_order.amount_received %> Roll</P></TD>
	<TD class="tr9 td6"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td4"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td3"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td2"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td8"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td2"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td10"><P class="p0 ft11">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr4 td8"><P class="p0 ft4">&nbsp;</P></TD>
	<TD colspan=4 rowspan=2 class="tr7 td24"><P class="p0 ft0">DESIGN</P></TD>
	<TD class="tr4 td1"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td2"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td3"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td4"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td16"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td18"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td19"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr4 td2"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td8"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td2"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td10"><P class="p0 ft4">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr9 td8"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td1"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td2"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td3"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td4"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td1"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td5"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td6"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td4"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td3"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td2"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td8"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td2"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td10"><P class="p0 ft11">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr4 td25"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td22"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td23"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td23"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td19"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td15"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td23"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td19"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td18"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td15"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td16"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td17"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td18"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td19"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td23"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td25"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td23"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td20"><P class="p0 ft4">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr10 td8"><P class="p0 ft0">Roller No.</P></TD>
	<TD colspan=2 class="tr11 td26"><P class="p0 ft0">: <%= @object.roller_identification_form_detail.roller_no %> </P></TD>
	<TD class="tr11 td23"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr10 td3"><P class="p0 ft1">&nbsp;</P></TD>
	<TD colspan=3 class="tr10 td10"><P class="p1 ft0">Press</P></TD>
	<TD class="tr10 td4"><P class="p0 ft1">&nbsp;</P></TD>
	<TD colspan=2 class="tr11 td27"><P class="p0 ft0">: <%= @object.roller_builder.machine.name %></P></TD>
	<TD class="tr11 td17"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr11 td18"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr11 td19"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr10 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD colspan=2 class="tr10 td12"><P class="p2 ft0">Quantity</P></TD>
	<TD class="tr10 td10"><P class="p0 ft0">: 1 Roll</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr3 td8"><P class="p0 ft0">RD</P></TD>
	<TD rowspan=2 class="tr3 td28"><P class="p0 ft0">: <%= @object.roller_identification_form_detail.rd %></P></TD>
	<TD rowspan=2 class="tr3 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD rowspan=2 class="tr3 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr8 td3"><P class="p0 ft9">&nbsp;</P></TD>
	<TD colspan=3 rowspan=2 class="tr3 td10"><P class="p1 ft0">Roller Type</P></TD>
	<TD class="tr8 td4"><P class="p0 ft9">&nbsp;</P></TD>
	<TD colspan=2 rowspan=2 class="tr7 td27"><P class="p0 ft0">: <%= @object.roller_identification_form_detail.roller_type.name %></P></TD>
	<TD class="tr8 td6"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td4"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td3"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td2"><P class="p0 ft9">&nbsp;</P></TD>
	<TD colspan=2 rowspan=2 class="tr3 td12"><P class="p2 ft0">Accessories</P></TD>
	<TD class="tr12 td20"><P class="p0 ft12">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr13 td3"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td4"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr6 td17"><P class="p0 ft7">&nbsp;</P></TD>
	<TD class="tr6 td18"><P class="p0 ft7">&nbsp;</P></TD>
	<TD class="tr6 td19"><P class="p0 ft7">&nbsp;</P></TD>
	<TD class="tr13 td2"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td10"><P class="p0 ft14">: NO</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr3 td8"><P class="p0 ft0">CD</P></TD>
	<TD class="tr12 td22"><P class="p0 ft12">&nbsp;</P></TD>
	<TD class="tr12 td23"><P class="p0 ft12">&nbsp;</P></TD>
	<TD class="tr12 td23"><P class="p0 ft12">&nbsp;</P></TD>
	<TD class="tr8 td3"><P class="p0 ft9">&nbsp;</P></TD>
	<TD colspan=3 rowspan=2 class="tr3 td10"><P class="p1 ft0">Core Type</P></TD>
	<TD class="tr8 td4"><P class="p0 ft9">&nbsp;</P></TD>
	<TD colspan=2 rowspan=2 class="tr7 td27"><P class="p0 ft0">: Shaft</P></TD>
	<TD class="tr8 td6"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td4"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td3"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td2"><P class="p0 ft9">&nbsp;</P></TD>
	<TD colspan=2 rowspan=2 class="tr3 td12"><P class="p2 ft5">Assembly Request</P></TD>
	<TD class="tr12 td20"><P class="p0 ft12">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr13 td28"><P class="p0 ft14">: <%= @object.roller_identification_form_detail.cd %></P></TD>
	<TD class="tr13 td2"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td2"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td3"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td4"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr6 td17"><P class="p0 ft7">&nbsp;</P></TD>
	<TD class="tr6 td18"><P class="p0 ft7">&nbsp;</P></TD>
	<TD class="tr6 td19"><P class="p0 ft7">&nbsp;</P></TD>
	<TD class="tr13 td2"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td10"><P class="p0 ft14">:</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr7 td8"><P class="p0 ft0">RL</P></TD>
	<TD class="tr12 td22"><P class="p0 ft12">&nbsp;</P></TD>
	<TD class="tr12 td23"><P class="p0 ft12">&nbsp;</P></TD>
	<TD class="tr12 td23"><P class="p0 ft12">&nbsp;</P></TD>
	<TD class="tr8 td3"><P class="p0 ft9">&nbsp;</P></TD>
	<TD colspan=3 rowspan=2 class="tr7 td10"><P class="p1 ft0">Core Material</P></TD>
	<TD rowspan=2 class="tr7 td4"><P class="p0 ft1">&nbsp;</P></TD>
	<TD rowspan=2 class="tr7 td1"><P class="p0 ft0">:</P></TD>
	<TD rowspan=2 class="tr7 td5"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr8 td6"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td4"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td3"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td2"><P class="p0 ft9">&nbsp;</P></TD>
	<TD colspan=2 rowspan=2 class="tr7 td12"><P class="p2 ft0">Underlayer</P></TD>
	<TD class="tr12 td20"><P class="p0 ft12">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr6 td28"><P class="p0 ft8">: <%= @object.roller_identification_form_detail.rl %></P></TD>
	<TD class="tr6 td2"><P class="p0 ft7">&nbsp;</P></TD>
	<TD class="tr6 td2"><P class="p0 ft7">&nbsp;</P></TD>
	<TD class="tr6 td3"><P class="p0 ft7">&nbsp;</P></TD>
	<TD class="tr6 td6"><P class="p0 ft7">&nbsp;</P></TD>
	<TD class="tr6 td4"><P class="p0 ft7">&nbsp;</P></TD>
	<TD class="tr6 td3"><P class="p0 ft7">&nbsp;</P></TD>
	<TD class="tr6 td2"><P class="p0 ft7">&nbsp;</P></TD>
	<TD class="tr6 td10"><P class="p0 ft8">:</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr3 td8"><P class="p0 ft0">WL</P></TD>
	<TD class="tr8 td22"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td23"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td23"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr5 td3"><P class="p0 ft6">&nbsp;</P></TD>
	<TD colspan=3 rowspan=2 class="tr3 td10"><P class="p1 ft0">Drawing No.</P></TD>
	<TD rowspan=2 class="tr3 td4"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td16"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td18"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td19"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr5 td2"><P class="p0 ft6">&nbsp;</P></TD>
	<TD colspan=2 rowspan=2 class="tr3 td12"><P class="p2 ft0">Top Compound</P></TD>
	<TD class="tr8 td20"><P class="p0 ft9">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr6 td28"><P class="p0 ft8">: <%= @object.roller_identification_form_detail.wl %></P></TD>
	<TD class="tr6 td2"><P class="p0 ft7">&nbsp;</P></TD>
	<TD class="tr6 td2"><P class="p0 ft7">&nbsp;</P></TD>
	<TD class="tr6 td3"><P class="p0 ft7">&nbsp;</P></TD>
	<TD class="tr6 td1"><P class="p0 ft8">:</P></TD>
	<TD class="tr6 td5"><P class="p0 ft7">&nbsp;</P></TD>
	<TD class="tr6 td6"><P class="p0 ft7">&nbsp;</P></TD>
	<TD class="tr6 td4"><P class="p0 ft7">&nbsp;</P></TD>
	<TD class="tr6 td3"><P class="p0 ft7">&nbsp;</P></TD>
	<TD class="tr6 td2"><P class="p0 ft7">&nbsp;</P></TD>
	<TD class="tr6 td10"><P class="p0 ft8">:</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr7 td8"><P class="p0 ft0">TL</P></TD>
	<TD class="tr8 td22"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td23"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td23"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr5 td3"><P class="p0 ft6">&nbsp;</P></TD>
	<TD colspan=3 rowspan=2 class="tr7 td10"><P class="p1 ft0">Compound</P></TD>
	<TD class="tr5 td4"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td16"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td18"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td19"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr5 td2"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td8"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td2"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr8 td20"><P class="p0 ft9">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr9 td28"><P class="p0 ft10">: <%= @object.roller_identification_form_detail.tl %></P></TD>
	<TD class="tr9 td2"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td2"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td3"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td4"><P class="p0 ft11">&nbsp;</P></TD>
	<TD colspan=2 class="tr9 td21"><%= @object.roller_builder.compound.name %></TD>
	<TD class="tr9 td6"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td4"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td3"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td2"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td8"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td2"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td10"><P class="p0 ft11">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr4 td8"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr5 td22"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td23"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td23"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr4 td3"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td1"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td2"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td3"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td4"><P class="p0 ft4">&nbsp;</P></TD>
	<TD colspan=6 rowspan=2 class="tr14 td29"><P class="p0 ft0"></P></TD>
	<TD class="tr4 td8"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td2"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td10"><P class="p0 ft4">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr15 td8"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td28"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td2"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td2"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td3"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td1"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td2"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td3"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td4"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td8"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td2"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td10"><P class="p0 ft15">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr16 td25"><P class="p0 ft16">&nbsp;</P></TD>
	<TD class="tr16 td22"><P class="p0 ft16">&nbsp;</P></TD>
	<TD class="tr16 td23"><P class="p0 ft16">&nbsp;</P></TD>
	<TD class="tr16 td23"><P class="p0 ft16">&nbsp;</P></TD>
	<TD class="tr16 td19"><P class="p0 ft16">&nbsp;</P></TD>
	<TD class="tr16 td15"><P class="p0 ft16">&nbsp;</P></TD>
	<TD class="tr16 td23"><P class="p0 ft16">&nbsp;</P></TD>
	<TD class="tr16 td19"><P class="p0 ft16">&nbsp;</P></TD>
	<TD class="tr16 td18"><P class="p0 ft16">&nbsp;</P></TD>
	<TD class="tr17 td30"><P class="p0 ft17">&nbsp;</P></TD>
	<TD class="tr17 td31"><P class="p0 ft17">&nbsp;</P></TD>
	<TD class="tr17 td32"><P class="p0 ft17">&nbsp;</P></TD>
	<TD class="tr17 td33"><P class="p0 ft17">&nbsp;</P></TD>
	<TD class="tr17 td34"><P class="p0 ft17">&nbsp;</P></TD>
	<TD class="tr16 td23"><P class="p0 ft16">&nbsp;</P></TD>
	<TD class="tr16 td25"><P class="p0 ft16">&nbsp;</P></TD>
	<TD class="tr16 td23"><P class="p0 ft16">&nbsp;</P></TD>
	<TD class="tr16 td20"><P class="p0 ft16">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=5 class="tr18 td0"><P class="p0 ft0">GENERAL INFORMATION</P></TD>
	<TD class="tr18 td1"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr18 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr18 td3"><P class="p0 ft1">&nbsp;</P></TD>
	<TD colspan=2 class="tr18 td8"><P class="p3 ft0">3 & 4</P></TD>
	<TD class="tr18 td5"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr18 td6"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr18 td4"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr18 td3"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr18 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr18 td8"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr18 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr18 td10"><P class="p0 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=2 class="tr19 td35"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr19 td23"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr19 td23"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr19 td19"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr19 td15"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr19 td23"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr19 td19"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr19 td18"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr19 td15"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr19 td16"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr19 td17"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr19 td18"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr19 td19"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr19 td23"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr19 td25"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr19 td23"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr19 td20"><P class="p0 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=5 class="tr20 td0"><P class="p0 ft0">DISASSEMBLING</P></TD>
	<TD colspan=3 class="tr20 td10"><P class="p1 ft0">Date</P></TD>
	<TD colspan=2 class="tr20 td8"><P class="p1 ft0">:</P></TD>
	<TD class="tr20 td5"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr20 td6"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr20 td4"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr20 td3"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr20 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD colspan=2 class="tr20 td12"><P class="p2 ft0">Disass No.</P></TD>
	<TD class="tr20 td10"><P class="p0 ft0">: D <%= @object.roller_identification_form_detail.roller_identification_form.nomor_disasembly %></P></TD>
</TR>
<TR>
	<TD class="tr4 td8"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td28"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td2"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td2"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td3"><P class="p0 ft4">&nbsp;</P></TD>
	<TD colspan=3 rowspan=2 class="tr21 td10"><P class="p1 ft0">Name</P></TD>
	<TD rowspan=2 class="tr21 td4"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td16"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td18"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td19"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr4 td2"><P class="p0 ft4">&nbsp;</P></TD>
	<TD colspan=2 rowspan=2 class="tr21 td12"><P class="p2 ft0">Working Time</P></TD>
	<TD class="tr5 td20"><P class="p0 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr3 td8"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td28"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td3"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td15"><P class="p0 ft0">:</P></TD>
	<TD class="tr7 td16"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td17"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td18"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td19"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td20"><P class="p0 ft0">:</P></TD>
</TR>
<TR>
	<TD class="tr13 td25"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td22"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td23"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td23"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td19"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td15"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td23"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td19"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td18"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td15"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td16"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td17"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td18"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td19"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td23"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td25"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td23"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td20"><P class="p0 ft13">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=5 class="tr20 td0"><P class="p0 ft0">CORES & ACC CHECK</P></TD>
	<TD colspan=3 class="tr20 td10"><P class="p1 ft0">Repair Required</P></TD>
	<TD class="tr20 td4"><P class="p0 ft1">&nbsp;</P></TD>
	<TD colspan=2 class="tr20 td21"><P class="p0 ft0">: ( ) yes</P></TD>
	<TD class="tr20 td6"><P class="p4 ft0">(</P></TD>
	<TD colspan=3 class="tr20 td8"><P class="p5 ft0">) no</P></TD>
	<TD colspan=2 class="tr20 td12"><P class="p2 ft0">Date Out</P></TD>
	<TD class="tr20 td10"><P class="p0 ft0">:</P></TD>
</TR>
<TR>
	<TD class="tr4 td8"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td28"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td2"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td2"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td3"><P class="p0 ft4">&nbsp;</P></TD>
	<TD colspan=3 rowspan=2 class="tr2 td10"><P class="p1 ft0">Quantity</P></TD>
	<TD colspan=2 rowspan=2 class="tr2 td8"><P class="p1 ft0">:</P></TD>
	<TD rowspan=2 class="tr2 td5"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr4 td6"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td4"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td3"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td2"><P class="p0 ft4">&nbsp;</P></TD>
	<TD colspan=2 rowspan=2 class="tr2 td12"><P class="p2 ft0">Date In</P></TD>
	<TD class="tr5 td20"><P class="p0 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr6 td8"><P class="p0 ft7">&nbsp;</P></TD>
	<TD class="tr6 td28"><P class="p0 ft7">&nbsp;</P></TD>
	<TD class="tr6 td2"><P class="p0 ft7">&nbsp;</P></TD>
	<TD class="tr6 td2"><P class="p0 ft7">&nbsp;</P></TD>
	<TD class="tr6 td3"><P class="p0 ft7">&nbsp;</P></TD>
	<TD class="tr6 td6"><P class="p0 ft7">&nbsp;</P></TD>
	<TD class="tr6 td4"><P class="p0 ft7">&nbsp;</P></TD>
	<TD class="tr6 td3"><P class="p0 ft7">&nbsp;</P></TD>
	<TD class="tr6 td2"><P class="p0 ft7">&nbsp;</P></TD>
	<TD class="tr6 td10"><P class="p0 ft8">:</P></TD>
</TR>
<TR>
	<TD class="tr5 td8"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td28"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td2"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td2"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td3"><P class="p0 ft6">&nbsp;</P></TD>
	<TD colspan=3 rowspan=2 class="tr22 td10"><P class="p1 ft0">Name</P></TD>
	<TD rowspan=2 class="tr22 td4"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td16"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td18"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td19"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr5 td2"><P class="p0 ft6">&nbsp;</P></TD>
	<TD colspan=2 rowspan=2 class="tr22 td12"><P class="p2 ft0">Working Time</P></TD>
	<TD class="tr8 td20"><P class="p0 ft9">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr3 td8"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td28"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td3"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td15"><P class="p0 ft0">:</P></TD>
	<TD class="tr7 td16"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td17"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td18"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td19"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td20"><P class="p0 ft0">:</P></TD>
</TR>
<TR>
	<TD class="tr13 td25"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td22"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td23"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td23"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td19"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td15"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td23"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td19"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td18"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td15"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td16"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td17"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td18"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td19"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td23"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td25"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td23"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td20"><P class="p0 ft13">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=5 class="tr20 td0"><P class="p0 ft0">STRIPPING / CLEANING / DEGREASING</P></TD>
	<TD class="tr20 td1"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr20 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr20 td3"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr20 td4"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr20 td1"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr20 td5"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr20 td6"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr20 td4"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr20 td3"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr20 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr20 td8"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr20 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr20 td10"><P class="p0 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr23 td8"><P class="p0 ft0">Glue Type</P></TD>
	<TD class="tr23 td28"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr23 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD colspan=2 class="tr23 td1"><P class="p0 ft0">Date</P></TD>
	<TD class="tr23 td1"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr23 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD colspan=4 class="tr23 td36"><P class="p0 ft0">Quantity</P></TD>
	<TD class="tr23 td6"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr23 td4"><P class="p0 ft1">&nbsp;</P></TD>
	<TD colspan=2 class="tr23 td1"><P class="p0 ft0">Name</P></TD>
	<TD class="tr23 td8"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr23 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr23 td10"><P class="p0 ft0">Working Time</P></TD>
</TR>
<TR>
	<TD class="tr22 td25"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr22 td22"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr21 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr22 td23"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr22 td19"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr22 td15"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr21 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr22 td19"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr22 td18"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr22 td15"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr21 td5"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr21 td6"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr21 td4"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr22 td19"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr22 td23"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr22 td25"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr21 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr22 td20"><P class="p0 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr7 td25"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td22"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td23"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td19"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td15"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td19"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td18"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td15"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td5"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td6"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td4"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td19"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td23"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td25"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td20"><P class="p0 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr7 td25"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td22"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td23"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td19"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td15"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td19"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td18"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td15"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td5"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td6"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td4"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td19"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td23"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td25"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td20"><P class="p0 ft1">&nbsp;</P></TD>
</TR>
</TABLE>
<TABLE cellpadding=0 cellspacing=0 class="t1">
<TR>
	<TD class="tr22 td37"><P class="p2 ft2">QC Checkpoints</P></TD>
	<TD colspan=2 class="tr22 td38"><P class="p6 ft0">surface condition</P></TD>
	<TD class="tr22 td39"><P class="p4 ft0">(</P></TD>
	<TD class="tr22 td40"><P class="p5 ft0">) OK</P></TD>
	<TD colspan=2 class="tr22 td41"><P class="p7 ft0">(</P></TD>
	<TD class="tr22 td42"><P class="p0 ft0">) not OK</P></TD>
	<TD class="tr22 td43"><P class="p0 ft1">&nbsp;</P></TD>
	<TD colspan=2 class="tr22 td44"><P class="p8 ft0">Adhesive Drying</P></TD>
	<TD class="tr22 td45"><P class="p2 ft0">( ) OK</P></TD>
	<TD class="tr22 td46"><P class="p7 ft0">(</P></TD>
	<TD colspan=2 class="tr22 td47"><P class="p0 ft0">) not OK</P></TD>
</TR>
<TR>
	<TD class="tr3 td48"><P class="p0 ft1">&nbsp;</P></TD>
	<TD colspan=2 class="tr3 td49"><P class="p6 ft0">corrosion</P></TD>
	<TD class="tr3 td50"><P class="p4 ft0">(</P></TD>
	<TD class="tr3 td28"><P class="p5 ft0">) yes</P></TD>
	<TD colspan=2 class="tr3 td51"><P class="p7 ft0">(</P></TD>
	<TD class="tr3 td52"><P class="p0 ft0">) no</P></TD>
	<TD class="tr3 td53"><P class="p0 ft1">&nbsp;</P></TD>
	<TD colspan=2 class="tr3 td54"><P class="p8 ft0">Others</P></TD>
	<TD class="tr3 td8"><P class="p2 ft0">:</P></TD>
	<TD class="tr3 td55"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td56"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td57"><P class="p0 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr15 td58"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td59"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td60"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td61"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td22"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td62"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td63"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td64"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td65"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td66"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td15"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td25"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td63"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td67"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td68"><P class="p0 ft15">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr24 td9"><P class="p0 ft0">WRAPPING</P></TD>
	<TD class="tr24 td69"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr24 td70"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr24 td50"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr24 td28"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr24 td71"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr24 td55"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr24 td52"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr24 td53"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr24 td72"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr24 td1"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr24 td8"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr24 td55"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr24 td56"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr24 td3"><P class="p0 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr3 td9"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td69"><P class="p0 ft0">Compound</P></TD>
	<TD class="tr3 td70"><P class="p0 ft0">:</P></TD>
	<TD class="tr3 td50"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td28"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td71"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td55"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td52"><P class="p9 ft0">Batch</P></TD>
	<TD class="tr3 td53"><P class="p10 ft0">:</P></TD>
	<TD class="tr3 td72"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td1"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td8"><P class="p11 ft0">Used</P></TD>
	<TD class="tr3 td55"><P class="p0 ft0">:</P></TD>
	<TD class="tr3 td56"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td3"><P class="p12 ft0">kg</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr2 td9"><P class="p0 ft0">Underlayer ( ) yes</P></TD>
	<TD rowspan=2 class="tr2 td69"><P class="p0 ft0">Compound</P></TD>
	<TD class="tr5 td60"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td61"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td22"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td62"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr4 td55"><P class="p0 ft4">&nbsp;</P></TD>
	<TD rowspan=2 class="tr2 td52"><P class="p9 ft0">Batch</P></TD>
	<TD class="tr5 td65"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td66"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p0 ft6">&nbsp;</P></TD>
	<TD rowspan=2 class="tr2 td8"><P class="p11 ft0">Used</P></TD>
	<TD class="tr5 td63"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td67"><P class="p0 ft6">&nbsp;</P></TD>
	<TD rowspan=2 class="tr2 td3"><P class="p12 ft0">kg</P></TD>
</TR>
<TR>
	<TD class="tr6 td70"><P class="p0 ft8">:</P></TD>
	<TD class="tr6 td50"><P class="p0 ft7">&nbsp;</P></TD>
	<TD class="tr6 td28"><P class="p0 ft7">&nbsp;</P></TD>
	<TD class="tr6 td71"><P class="p0 ft7">&nbsp;</P></TD>
	<TD class="tr6 td55"><P class="p0 ft7">&nbsp;</P></TD>
	<TD class="tr6 td53"><P class="p10 ft8">:</P></TD>
	<TD class="tr6 td72"><P class="p0 ft7">&nbsp;</P></TD>
	<TD class="tr6 td1"><P class="p0 ft7">&nbsp;</P></TD>
	<TD class="tr6 td55"><P class="p0 ft8">:</P></TD>
	<TD class="tr6 td56"><P class="p0 ft7">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr22 td9"><P class="p0 ft0">Wrapping Diameter</P></TD>
	<TD class="tr5 td69"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr8 td60"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td61"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td22"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td62"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr5 td55"><P class="p0 ft6">&nbsp;</P></TD>
	<TD rowspan=2 class="tr22 td52"><P class="p9 ft0">Date</P></TD>
	<TD class="tr8 td65"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td66"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p0 ft9">&nbsp;</P></TD>
	<TD rowspan=2 class="tr22 td8"><P class="p11 ft0">Qty</P></TD>
	<TD class="tr8 td63"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td67"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr5 td3"><P class="p0 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr3 td69"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td60"><P class="p0 ft0">:</P></TD>
	<TD class="tr7 td61"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td22"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td62"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td55"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td65"><P class="p10 ft0">:</P></TD>
	<TD class="tr7 td66"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td15"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td63"><P class="p0 ft0">:</P></TD>
	<TD class="tr7 td67"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td3"><P class="p0 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr13 td24"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td59"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td60"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td61"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td22"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td62"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td63"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td64"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td65"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td66"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td15"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td25"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td63"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td67"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td19"><P class="p0 ft13">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr21 td48"><P class="p2 ft2">QC Checkpoints</P></TD>
	<TD class="tr21 td69"><P class="p0 ft0">Diameter</P></TD>
	<TD class="tr21 td70"><P class="p0 ft0">:</P></TD>
	<TD class="tr21 td50"><P class="p0 ft1">&nbsp;</P></TD>
	<TD colspan=3 class="tr21 td73"><P class="p11 ft0">Length</P></TD>
	<TD class="tr21 td52"><P class="p9 ft0">:</P></TD>
	<TD class="tr21 td53"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr21 td72"><P class="p0 ft1">&nbsp;</P></TD>
	<TD colspan=3 class="tr21 td49"><P class="p0 ft0">No. of PET Film Application</P></TD>
	<TD class="tr21 td56"><P class="p13 ft0">:</P></TD>
	<TD class="tr21 td57"><P class="p0 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr15 td58"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td59"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td60"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td61"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td22"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td62"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td63"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td64"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td65"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td66"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td15"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td25"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td63"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td67"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td68"><P class="p0 ft15">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr24 td9"><P class="p0 ft0">VULCANIZATION</P></TD>
	<TD class="tr24 td69"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr24 td70"><P class="p0 ft0">Date</P></TD>
	<TD class="tr24 td50"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr24 td28"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr24 td71"><P class="p14 ft0">:</P></TD>
	<TD class="tr24 td55"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr24 td52"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr24 td53"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr24 td72"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr24 td1"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr24 td8"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr24 td55"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr24 td56"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr24 td3"><P class="p0 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr4 td9"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td69"><P class="p0 ft4">&nbsp;</P></TD>
	<TD rowspan=2 class="tr21 td70"><P class="p0 ft0">Name</P></TD>
	<TD class="tr4 td50"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td28"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr5 td62"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td63"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td64"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td65"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td66"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr4 td1"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td8"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td55"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td56"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td3"><P class="p0 ft4">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr3 td9"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td69"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td50"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td28"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td62"><P class="p14 ft0">:</P></TD>
	<TD class="tr7 td63"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td64"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td65"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td66"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td1"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td8"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td55"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td56"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td3"><P class="p0 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr13 td24"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td59"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td60"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td61"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td22"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td62"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td63"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td64"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td65"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td66"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td15"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td25"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td63"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td67"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td19"><P class="p0 ft13">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr21 td48"><P class="p2 ft2">QC Checkpoints</P></TD>
	<TD class="tr21 td69"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr21 td70"><P class="p0 ft0">Recipe No</P></TD>
	<TD class="tr21 td50"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr21 td28"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr21 td71"><P class="p14 ft0">:</P></TD>
	<TD class="tr21 td55"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr21 td52"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr21 td53"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr21 td72"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr21 td1"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr21 td8"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr21 td55"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr21 td56"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr21 td57"><P class="p0 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr15 td58"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td59"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td60"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td61"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td22"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td62"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td63"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td64"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td65"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td66"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td15"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td25"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td63"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td67"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td68"><P class="p0 ft15">&nbsp;</P></TD>
</TR>
</TABLE>
<TABLE cellpadding=0 cellspacing=0 class="t2">
<TR>
	<TD colspan=2 class="tr0 td12"><P class="p0 ft0">GRINDING</P></TD>
	<TD class="tr0 td12"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr0 td8"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr0 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr0 td71"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr0 td4"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr0 td74"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr0 td75"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr0 td76"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr0 td77"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr0 td78"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr0 td4"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr0 td79"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr0 td1"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr0 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr0 td10"><P class="p0 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=2 class="tr25 td12"><P class="p0 ft2">Date</P></TD>
	<TD class="tr25 td12"><P class="p0 ft2">Process</P></TD>
	<TD colspan=2 class="tr25 td12"><P class="p0 ft2">Quantity</P></TD>
	<TD colspan=4 class="tr25 td80"><P class="p0 ft2">Failure</P></TD>
	<TD class="tr25 td76"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr25 td77"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr25 td78"><P class="p0 ft1">&nbsp;</P></TD>
	<TD colspan=2 class="tr25 td81"><P class="p0 ft2">Name</P></TD>
	<TD class="tr25 td1"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr25 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr25 td10"><P class="p0 ft2">Working Time</P></TD>
</TR>
<TR>
	<TD class="tr3 td8"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td12"><P class="p0 ft0">Face off</P></TD>
	<TD class="tr3 td8"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td71"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td4"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td74"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td75"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td76"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td77"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td78"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td4"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td79"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td1"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td10"><P class="p0 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr5 td25"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr4 td2"><P class="p0 ft4">&nbsp;</P></TD>
	<TD rowspan=2 class="tr3 td12"><P class="p0 ft0">Grinding</P></TD>
	<TD class="tr5 td25"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr4 td2"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr5 td62"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td18"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td82"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td83"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td84"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr4 td77"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td78"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr5 td18"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td85"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr4 td2"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr5 td20"><P class="p0 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr9 td8"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td2"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td8"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td2"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td71"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td4"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td74"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td75"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td76"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td77"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td78"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td4"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td79"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td1"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td2"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td10"><P class="p0 ft11">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr5 td25"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr4 td2"><P class="p0 ft4">&nbsp;</P></TD>
	<TD rowspan=2 class="tr3 td12"><P class="p0 ft0">Polishing</P></TD>
	<TD class="tr5 td25"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr4 td2"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr5 td62"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td18"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td82"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td83"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td84"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr4 td77"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td78"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr5 td18"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td85"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr4 td2"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr5 td20"><P class="p0 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr9 td8"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td2"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td8"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td2"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td71"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td4"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td74"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td75"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td76"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td77"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td78"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td4"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td79"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td1"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td2"><P class="p0 ft11">&nbsp;</P></TD>
	<TD class="tr9 td10"><P class="p0 ft11">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr8 td8"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td2"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td12"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td8"><P class="p0 ft9">&nbsp;</P></TD>
	<TD colspan=2 class="tr8 td86"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td4"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td74"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td75"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td76"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td77"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td78"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td4"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td79"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td1"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td2"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr8 td10"><P class="p0 ft9">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr14 td87"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td23"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td88"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td87"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td23"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td89"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td33"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td90"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td91"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td92"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td93"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td94"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td33"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td95"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td30"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td23"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td96"><P class="p0 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=2 class="tr21 td97"><P class="p2 ft2">QC Checkpoints</P></TD>
	<TD class="tr21 td12"><P class="p0 ft1">&nbsp;</P></TD>
	<TD colspan=5 class="tr21 td98"><P class="p0 ft0">Surface Characteristics</P></TD>
	<TD class="tr21 td75"><P class="p15 ft0">: (</P></TD>
	<TD colspan=2 class="tr21 td99"><P class="p16 ft0">) OK</P></TD>
	<TD class="tr21 td78"><P class="p4 ft0">(</P></TD>
	<TD colspan=2 class="tr21 td81"><P class="p5 ft0">) not OK</P></TD>
	<TD class="tr21 td1"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr21 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr21 td100"><P class="p0 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr3 td101"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td12"><P class="p0 ft1">&nbsp;</P></TD>
	<TD colspan=2 class="tr3 td12"><P class="p0 ft0">Cylindrical Shape</P></TD>
	<TD class="tr3 td71"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td4"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td74"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td75"><P class="p15 ft0">: (</P></TD>
	<TD colspan=2 class="tr3 td99"><P class="p16 ft0">) OK</P></TD>
	<TD class="tr3 td78"><P class="p4 ft0">(</P></TD>
	<TD colspan=2 class="tr3 td81"><P class="p5 ft0">) not OK</P></TD>
	<TD class="tr3 td1"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td100"><P class="p0 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr15 td102"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td23"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td88"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td25"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td23"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td62"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td18"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td82"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td83"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td84"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td93"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td94"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td18"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td85"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td15"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td23"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr15 td103"><P class="p0 ft15">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=2 class="tr24 td12"><P class="p0 ft0">QUALITY CONTROL</P></TD>
	<TD class="tr24 td12"><P class="p0 ft1">&nbsp;</P></TD>
	<TD colspan=2 class="tr24 td12"><P class="p0 ft0">Certificate Required</P></TD>
	<TD colspan=3 class="tr24 td104"><P class="p17 ft0">:</P></TD>
	<TD class="tr24 td75"><P class="p18 ft0">(</P></TD>
	<TD colspan=2 class="tr24 td99"><P class="p19 ft5">) yes</P></TD>
	<TD class="tr24 td78"><P class="p4 ft0">(</P></TD>
	<TD colspan=2 class="tr24 td81"><P class="p5 ft0">) no</P></TD>
	<TD colspan=2 class="tr24 td69"><P class="p6 ft0">Date</P></TD>
	<TD class="tr24 td10"><P class="p0 ft0">:</P></TD>
</TR>
<TR>
	<TD class="tr4 td8"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td2"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td12"><P class="p0 ft4">&nbsp;</P></TD>
	<TD colspan=2 rowspan=2 class="tr0 td12"><P class="p0 ft0">Name</P></TD>
	<TD colspan=3 rowspan=2 class="tr0 td104"><P class="p17 ft0">:</P></TD>
	<TD class="tr4 td75"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td76"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td77"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td78"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td4"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td79"><P class="p0 ft4">&nbsp;</P></TD>
	<TD colspan=2 rowspan=2 class="tr0 td69"><P class="p0 ft0">Working Time</P></TD>
	<TD class="tr5 td20"><P class="p0 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr14 td8"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td12"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td75"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td76"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td77"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td78"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td4"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td79"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td10"><P class="p0 ft0">:</P></TD>
</TR>
<TR>
	<TD class="tr7 td25"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td23"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td88"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td25"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td23"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td62"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td18"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td90"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td91"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td92"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td105"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td106"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td33"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td85"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td15"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td23"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td96"><P class="p0 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=2 class="tr20 td12"><P class="p0 ft0">ASSEMBLING</P></TD>
	<TD class="tr20 td12"><P class="p0 ft1">&nbsp;</P></TD>
	<TD colspan=2 class="tr20 td12"><P class="p0 ft0">Accessories</P></TD>
	<TD colspan=3 class="tr20 td104"><P class="p17 ft0">:</P></TD>
	<TD class="tr20 td75"><P class="p18 ft0">(</P></TD>
	<TD colspan=2 class="tr20 td99"><P class="p16 ft5">) new</P></TD>
	<TD class="tr20 td78"><P class="p4 ft0">(</P></TD>
	<TD colspan=2 class="tr20 td81"><P class="p5 ft0">) customer</P></TD>
	<TD colspan=2 class="tr20 td69"><P class="p6 ft0">Date</P></TD>
	<TD class="tr20 td10"><P class="p0 ft0">:</P></TD>
</TR>
<TR>
	<TD class="tr4 td8"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td2"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td12"><P class="p0 ft4">&nbsp;</P></TD>
	<TD colspan=2 rowspan=2 class="tr0 td12"><P class="p0 ft0">Name</P></TD>
	<TD colspan=3 rowspan=2 class="tr0 td104"><P class="p17 ft0">:</P></TD>
	<TD class="tr4 td75"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td76"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td77"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td78"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td4"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td79"><P class="p0 ft4">&nbsp;</P></TD>
	<TD colspan=2 rowspan=2 class="tr0 td69"><P class="p0 ft0">Working Time</P></TD>
	<TD class="tr5 td20"><P class="p0 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr14 td8"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td12"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td75"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td76"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td77"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td78"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td4"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td79"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td10"><P class="p0 ft0">:</P></TD>
</TR>
<TR>
	<TD class="tr7 td25"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td23"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td88"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td25"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td23"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td62"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td18"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td90"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td91"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td92"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td105"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td106"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td33"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td85"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td15"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td23"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr14 td96"><P class="p0 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=2 class="tr20 td12"><P class="p0 ft0">PACKING</P></TD>
	<TD class="tr20 td12"><P class="p0 ft1">&nbsp;</P></TD>
	<TD colspan=2 class="tr20 td12"><P class="p0 ft0">Date</P></TD>
	<TD colspan=2 class="tr20 td3"><P class="p20 ft0">:</P></TD>
	<TD class="tr20 td74"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr20 td75"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr20 td76"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr20 td77"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr20 td78"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr20 td4"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr20 td79"><P class="p0 ft1">&nbsp;</P></TD>
	<TD colspan=2 class="tr20 td69"><P class="p0 ft0">Quantity</P></TD>
	<TD class="tr20 td10"><P class="p0 ft0">:</P></TD>
</TR>
<TR>
	<TD class="tr4 td8"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td2"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td12"><P class="p0 ft4">&nbsp;</P></TD>
	<TD colspan=2 rowspan=2 class="tr21 td12"><P class="p0 ft0">Name</P></TD>
	<TD rowspan=2 class="tr21 td71"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr5 td18"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td82"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td83"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td84"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td93"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr5 td94"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr4 td4"><P class="p0 ft4">&nbsp;</P></TD>
	<TD class="tr4 td79"><P class="p0 ft4">&nbsp;</P></TD>
	<TD colspan=2 rowspan=2 class="tr21 td69"><P class="p0 ft0">Working Time</P></TD>
	<TD class="tr5 td20"><P class="p0 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr3 td8"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td2"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td12"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td18"><P class="p20 ft0">:</P></TD>
	<TD class="tr7 td82"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td83"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td84"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td93"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td94"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td4"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr3 td79"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr7 td20"><P class="p0 ft0">:</P></TD>
</TR>
<TR>
	<TD class="tr13 td25"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td23"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td88"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td25"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td23"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td62"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td18"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td82"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td83"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td84"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td93"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td94"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td18"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td85"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td15"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td23"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr13 td20"><P class="p0 ft13">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=2 class="tr26 td12"><P class="p0 ft0">Prepared</P></TD>
	<TD class="tr26 td12"><P class="p0 ft1">&nbsp;</P></TD>
	<TD colspan=2 class="tr26 td12"><P class="p6 ft0">Checked</P></TD>
	<TD class="tr26 td71"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr26 td4"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr26 td74"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr26 td75"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr26 td76"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr26 td77"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr26 td78"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr26 td4"><P class="p0 ft1">&nbsp;</P></TD>
	<TD class="tr26 td79"><P class="p0 ft1">&nbsp;</P></TD>
	<TD colspan=2 class="tr26 td69"><P class="p1 ft0">Approved</P></TD>
	<TD class="tr26 td10"><P class="p0 ft1">&nbsp;</P></TD>
</TR>
</TABLE>
</DIV>
<DIV id="id_2">
<TABLE cellpadding=0 cellspacing=0 class="t3">
<TR>
	<TD class="tr7 td107"><P class="p17 ft18">....................................................... .......................................................</P></TD>
	<TD class="tr7 td107"><P class="p17 ft0">.......................................................</P></TD>
</TR>
</TABLE>
</DIV>
</DIV>
</BODY>
</HTML>
