<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META http-equiv="X-UA-Compatible" content="IE=8">
<TITLE>Created by BCL easyConverter SDK 3 (HTML Version)</TITLE>
<STYLE type="text/css">

body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 46px 0px 33px 16px;padding: 0px;border: none;width: 1096px;}
#page_1 #id_1 {border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 1096px;overflow: hidden;}
#page_1 #id_2 {border:none;margin: 31px 0px 0px 114px;padding: 0px;border:none;width: 816px;overflow: hidden;}

#page_1 #dimg1 {position:absolute;top:4px;left:640px;z-index:-1;width:446px;height:78px;}
#page_1 #dimg1 #img1 {width:446px;height:78px;}




.ft0{font: 11px 'Arial';color: #0000ff;line-height: 14px;}
.ft1{font: 1px 'Arial';line-height: 1px;}
.ft2{font: 11px 'Arial';line-height: 14px;}
.ft3{font: 1px 'Arial';line-height: 4px;}
.ft4{font: 1px 'Arial';line-height: 3px;}
.ft5{font: 1px 'Arial';line-height: 10px;}
.ft6{font: 11px 'Arial';line-height: 10px;}
.ft7{font: 1px 'Arial';line-height: 6px;}
.ft8{font: 1px 'Arial';line-height: 5px;}
.ft9{font: 14px 'Arial';line-height: 16px;}
.ft10{font: 1px 'Arial';line-height: 2px;}
.ft11{font: 10px 'Arial';line-height: 13px;}
.ft12{font: 1px 'Arial';line-height: 7px;}
.ft13{font: 11px 'Arial';line-height: 13px;}
.ft14{font: 11px 'Arial';line-height: 6px;}
.ft15{font: 1px 'Arial';line-height: 9px;}
.ft16{font: 9px 'Arial';line-height: 12px;}
.ft17{font: 1px 'Arial';line-height: 13px;}
.ft18{font: 12px 'Arial';line-height: 15px;}

.p0{text-align: right;padding-right: 8px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p1{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p2{text-align: left;padding-left: 8px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p3{text-align: left;padding-left: 3px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p4{text-align: left;padding-left: 5px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p5{text-align: right;padding-right: 33px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p6{text-align: left;padding-left: 16px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p7{text-align: right;padding-right: 12px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p8{text-align: left;padding-left: 13px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p9{text-align: center;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p10{text-align: center;padding-left: 2px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p11{text-align: left;padding-left: 23px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p12{text-align: right;padding-right: 20px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p13{text-align: right;padding-right: 19px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p14{text-align: right;padding-right: 21px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p15{text-align: right;padding-right: 18px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p16{text-align: left;padding-left: 7px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p17{text-align: left;padding-left: 12px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p18{text-align: left;padding-left: 15px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p19{text-align: left;padding-left: 14px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p20{text-align: center;padding-left: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p21{text-align: left;padding-left: 31px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p22{text-align: right;padding-right: 11px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p23{text-align: center;padding-right: 3px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p24{text-align: center;padding-left: 3px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p25{text-align: left;padding-left: 9px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p26{text-align: left;padding-left: 4px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p27{text-align: right;padding-right: 59px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p28{text-align: right;padding-right: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p29{text-align: right;padding-right: 2px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p30{text-align: right;padding-right: 3px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p31{text-align: right;padding-right: 6px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p32{text-align: right;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}

.td0{padding: 0px;margin: 0px;width: 52px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 124px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 13px;vertical-align: bottom;}
.td3{padding: 0px;margin: 0px;width: 95px;vertical-align: bottom;}
.td4{padding: 0px;margin: 0px;width: 44px;vertical-align: bottom;}
.td5{padding: 0px;margin: 0px;width: 15px;vertical-align: bottom;}
.td6{padding: 0px;margin: 0px;width: 54px;vertical-align: bottom;}
.td7{padding: 0px;margin: 0px;width: 57px;vertical-align: bottom;}
.td8{padding: 0px;margin: 0px;width: 55px;vertical-align: bottom;}
.td9{padding: 0px;margin: 0px;width: 56px;vertical-align: bottom;}
.td10{padding: 0px;margin: 0px;width: 18px;vertical-align: bottom;}
.td11{padding: 0px;margin: 0px;width: 36px;vertical-align: bottom;}
.td12{padding: 0px;margin: 0px;width: 59px;vertical-align: bottom;}
.td13{padding: 0px;margin: 0px;width: 38px;vertical-align: bottom;}
.td14{padding: 0px;margin: 0px;width: 35px;vertical-align: bottom;}
.td15{padding: 0px;margin: 0px;width: 4px;vertical-align: bottom;}
.td16{padding: 0px;margin: 0px;width: 31px;vertical-align: bottom;}
.td17{padding: 0px;margin: 0px;width: 26px;vertical-align: bottom;}
.td18{padding: 0px;margin: 0px;width: 115px;vertical-align: bottom;}
.td19{padding: 0px;margin: 0px;width: 3px;vertical-align: bottom;}
.td20{padding: 0px;margin: 0px;width: 109px;vertical-align: bottom;}
.td21{padding: 0px;margin: 0px;width: 284px;vertical-align: bottom;}
.td22{padding: 0px;margin: 0px;width: 176px;vertical-align: bottom;}
.td23{padding: 0px;margin: 0px;width: 108px;vertical-align: bottom;}
.td24{padding: 0px;margin: 0px;width: 141px;vertical-align: bottom;}
.td25{padding: 0px;margin: 0px;width: 8px;vertical-align: bottom;}
.td26{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 13px;vertical-align: bottom;}
.td27{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 95px;vertical-align: bottom;}
.td28{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 44px;vertical-align: bottom;}
.td29{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 26px;vertical-align: bottom;}
.td30{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 115px;vertical-align: bottom;}
.td31{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 108px;vertical-align: bottom;}
.td32{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 36px;vertical-align: bottom;}
.td33{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 59px;vertical-align: bottom;}
.td34{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 38px;vertical-align: bottom;}
.td35{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 35px;vertical-align: bottom;}
.td36{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 30px;vertical-align: bottom;}
.td37{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 140px;vertical-align: bottom;}
.td38{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 114px;vertical-align: bottom;}
.td39{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 8px;vertical-align: bottom;}
.td40{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 124px;vertical-align: bottom;}
.td41{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 15px;vertical-align: bottom;}
.td42{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 54px;vertical-align: bottom;}
.td43{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 57px;vertical-align: bottom;}
.td44{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 55px;vertical-align: bottom;}
.td45{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 56px;vertical-align: bottom;}
.td46{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 18px;vertical-align: bottom;}
.td47{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 4px;vertical-align: bottom;}
.td48{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 31px;vertical-align: bottom;}
.td49{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 3px;vertical-align: bottom;}
.td50{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 109px;vertical-align: bottom;}
.td51{border-left: #000000 1px solid;border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 42px;vertical-align: bottom;}
.td52{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 12px;vertical-align: bottom;}
.td53{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 94px;vertical-align: bottom;}
.td54{padding: 0px;margin: 0px;width: 111px;vertical-align: bottom;}
.td55{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 58px;vertical-align: bottom;}
.td56{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 76px;vertical-align: bottom;}
.td57{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 56px;vertical-align: bottom;}
.td58{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 2px;vertical-align: bottom;}
.td59{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 108px;vertical-align: bottom;}
.td60{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 58px;vertical-align: bottom;}
.td61{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 3px;vertical-align: bottom;}
.td62{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 25px;vertical-align: bottom;}
.td63{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 53px;vertical-align: bottom;}
.td64{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 56px;vertical-align: bottom;}
.td65{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 54px;vertical-align: bottom;}
.td66{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 55px;vertical-align: bottom;}
.td67{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 53px;vertical-align: bottom;}
.td68{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 37px;vertical-align: bottom;}
.td69{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 38px;vertical-align: bottom;}
.td70{border-left: #000000 1px solid;border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 42px;vertical-align: bottom;}
.td71{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 12px;vertical-align: bottom;}
.td72{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 94px;vertical-align: bottom;}
.td73{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 2px;vertical-align: bottom;}
.td74{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 108px;vertical-align: bottom;}
.td75{padding: 0px;margin: 0px;width: 132px;vertical-align: bottom;}
.td76{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 54px;vertical-align: bottom;}
.td77{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 55px;vertical-align: bottom;}
.td78{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 37px;vertical-align: bottom;}
.td79{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 3px;vertical-align: bottom;}
.td80{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 14px;vertical-align: bottom;}
.td81{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 35px;vertical-align: bottom;}
.td82{padding: 0px;margin: 0px;width: 264px;vertical-align: bottom;}
.td83{padding: 0px;margin: 0px;width: 272px;vertical-align: bottom;}
.td84{padding: 0px;margin: 0px;width: 280px;vertical-align: bottom;}
.td85{padding: 0px;margin: 0px;width: 70px;vertical-align: bottom;}

.tr0{height: 19px;}
.tr1{height: 23px;}
.tr2{height: 24px;}
.tr3{height: 4px;}
.tr4{height: 3px;}
.tr5{height: 10px;}
.tr6{height: 6px;}
.tr7{height: 5px;}
.tr8{height: 18px;}
.tr9{height: 17px;}
.tr10{height: 2px;}
.tr11{height: 34px;}
.tr12{height: 29px;}
.tr13{height: 22px;}
.tr14{height: 7px;}
.tr15{height: 13px;}
.tr16{height: 15px;}
.tr17{height: 9px;}
.tr18{height: 16px;}

.t0{width: 1096px;font: 11px 'Arial';}
.t1{width: 886px;margin-left: 8px;margin-top: 445px;font: 12px 'Arial';}
.t2{width: 816px;font: 12px 'Arial';}

</STYLE>
</HEAD>

<BODY>
<DIV id="page_1">
<DIV id="dimg1">
<!--<IMG src="PrintoutIdentifyRoller_images/PrintoutIdentifyRoller1x1.jpg" id="img1">-->
</DIV>


<DIV id="id_1">
<TABLE cellpadding=0 cellspacing=0 class="t0">
<TR>
	<TD colspan=2 class="tr0 td0"><P class="p0 ft0"><%= @object.code %></P></TD>
	<TD class="tr0 td1"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td2"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td3"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td4"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td5"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td6"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td7"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td8"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td9"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td7"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td10"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td11"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td12"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td13"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td14"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td15"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td16"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td17"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td18"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td19"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td20"><P class="p1 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=5 class="tr1 td21"><P class="p2 ft2">IDENTIFICATION OF INCOMING ROLLERS</P></TD>
	<TD class="tr1 td4"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr1 td5"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr1 td7"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr1 td8"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr1 td9"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr1 td7"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr1 td10"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr1 td11"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr1 td12"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr1 td13"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr1 td14"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr1 td15"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr1 td16"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr1 td17"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr1 td18"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr1 td19"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr1 td20"><P class="p1 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=3 class="tr2 td22"><P class="p2 ft2">Date / Time of Incoming Roll</P></TD>
	<TD colspan=2 class="tr2 td23"><P class="p1 ft2">: <NOBR><%= @object.incoming_roll.strftime("%d-%m-%Y") %></NOBR></P></TD>
	<TD class="tr2 td4"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td5"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td6"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td7"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td8"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td9"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td7"><P class="p3 ft2">Customer</P></TD>
	<TD class="tr2 td10"><P class="p1 ft1">&nbsp;</P></TD>
	<TD colspan=2 class="tr2 td3"><P class="p1 ft2">: <%= @object.contact.name %></P></TD>
	<TD class="tr2 td13"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td14"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td15"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td16"><P class="p1 ft1">&nbsp;</P></TD>
	<TD colspan=2 class="tr2 td24"><P class="p4 ft2">No. Diss :</P></TD>
	<TD class="tr2 td19"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td20"><P class="p1 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr3 td4"><P class="p1 ft3">&nbsp;</P></TD>
	<TD class="tr3 td25"><P class="p1 ft3">&nbsp;</P></TD>
	<TD class="tr3 td1"><P class="p1 ft3">&nbsp;</P></TD>
	<TD class="tr4 td26"><P class="p1 ft4">&nbsp;</P></TD>
	<TD class="tr4 td27"><P class="p1 ft4">&nbsp;</P></TD>
	<TD class="tr4 td28"><P class="p1 ft4">&nbsp;</P></TD>
	<TD class="tr3 td5"><P class="p1 ft3">&nbsp;</P></TD>
	<TD class="tr3 td6"><P class="p1 ft3">&nbsp;</P></TD>
	<TD class="tr3 td7"><P class="p1 ft3">&nbsp;</P></TD>
	<TD class="tr3 td8"><P class="p1 ft3">&nbsp;</P></TD>
	<TD class="tr3 td9"><P class="p1 ft3">&nbsp;</P></TD>
	<TD class="tr3 td7"><P class="p1 ft3">&nbsp;</P></TD>
	<TD rowspan=2 class="tr5 td10"><P class="p1 ft5">&nbsp;</P></TD>
	<TD colspan=2 rowspan=2 class="tr5 td3"><P class="p1 ft6"></P></TD>
	<TD class="tr3 td13"><P class="p1 ft3">&nbsp;</P></TD>
	<TD class="tr3 td14"><P class="p1 ft3">&nbsp;</P></TD>
	<TD class="tr3 td15"><P class="p1 ft3">&nbsp;</P></TD>
	<TD class="tr3 td16"><P class="p1 ft3">&nbsp;</P></TD>
	<TD class="tr3 td17"><P class="p1 ft3">&nbsp;</P></TD>
	<TD class="tr3 td18"><P class="p1 ft3">&nbsp;</P></TD>
	<TD class="tr3 td19"><P class="p1 ft3">&nbsp;</P></TD>
	<TD class="tr3 td20"><P class="p1 ft3">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr6 td4"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr6 td25"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr6 td1"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr6 td2"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr6 td3"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr6 td4"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr6 td5"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr6 td6"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr6 td7"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr6 td8"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr6 td9"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr6 td7"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr6 td13"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr6 td14"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr6 td15"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr6 td16"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr7 td29"><P class="p1 ft8">&nbsp;</P></TD>
	<TD class="tr7 td30"><P class="p1 ft8">&nbsp;</P></TD>
	<TD class="tr6 td19"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr6 td20"><P class="p1 ft7">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=3 class="tr8 td22"><P class="p2 ft2">Date / Time of Identification</P></TD>
	<TD colspan=2 class="tr9 td31"><P class="p1 ft2">: <NOBR><%= @object.identified_date.strftime("%d-%m-%Y") %></NOBR></P></TD>
	<TD class="tr9 td28"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr8 td5"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr8 td6"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr8 td7"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr8 td8"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr8 td9"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr8 td7"><P class="p3 ft2">Press</P></TD>
	<TD class="tr8 td10"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr9 td32"><P class="p5 ft2">:</P></TD>
	<TD class="tr9 td33"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr9 td34"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr9 td35"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr8 td36"><P class="p1 ft1">&nbsp;</P></TD>
	<TD colspan=2 class="tr8 td37"><P class="p4 ft9">D <%= @object.nomor_disasembly %></P></TD>
	<TD class="tr8 td19"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr8 td20"><P class="p1 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr4 td4"><P class="p1 ft4">&nbsp;</P></TD>
	<TD class="tr4 td25"><P class="p1 ft4">&nbsp;</P></TD>
	<TD class="tr4 td1"><P class="p1 ft4">&nbsp;</P></TD>
	<TD class="tr4 td2"><P class="p1 ft4">&nbsp;</P></TD>
	<TD class="tr4 td3"><P class="p1 ft4">&nbsp;</P></TD>
	<TD class="tr4 td4"><P class="p1 ft4">&nbsp;</P></TD>
	<TD class="tr4 td5"><P class="p1 ft4">&nbsp;</P></TD>
	<TD class="tr4 td6"><P class="p1 ft4">&nbsp;</P></TD>
	<TD class="tr4 td7"><P class="p1 ft4">&nbsp;</P></TD>
	<TD class="tr4 td8"><P class="p1 ft4">&nbsp;</P></TD>
	<TD class="tr4 td9"><P class="p1 ft4">&nbsp;</P></TD>
	<TD class="tr4 td7"><P class="p1 ft4">&nbsp;</P></TD>
	<TD class="tr4 td10"><P class="p1 ft4">&nbsp;</P></TD>
	<TD class="tr4 td11"><P class="p1 ft4">&nbsp;</P></TD>
	<TD class="tr4 td12"><P class="p1 ft4">&nbsp;</P></TD>
	<TD class="tr4 td13"><P class="p1 ft4">&nbsp;</P></TD>
	<TD class="tr4 td14"><P class="p1 ft4">&nbsp;</P></TD>
	<TD class="tr4 td15"><P class="p1 ft4">&nbsp;</P></TD>
	<TD class="tr4 td36"><P class="p1 ft4">&nbsp;</P></TD>
	<TD class="tr10 td29"><P class="p1 ft10">&nbsp;</P></TD>
	<TD class="tr10 td38"><P class="p1 ft10">&nbsp;</P></TD>
	<TD class="tr4 td19"><P class="p1 ft4">&nbsp;</P></TD>
	<TD class="tr4 td20"><P class="p1 ft4">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr11 td28"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr11 td39"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr11 td40"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr11 td26"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr11 td27"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr11 td28"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr11 td41"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr11 td42"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr11 td43"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr11 td44"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr11 td45"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr11 td43"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr11 td46"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr11 td32"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr11 td33"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr11 td34"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr11 td35"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr11 td47"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr11 td48"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr11 td29"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr11 td30"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr11 td49"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr11 td50"><P class="p1 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr12 td51"><P class="p6 ft2">ID.</P></TD>
	<TD class="tr13 td25"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr13 td1"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr13 td52"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr13 td53"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr13 td4"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr13 td5"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr13 td6"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr13 td7"><P class="p1 ft1">&nbsp;</P></TD>
	<TD colspan=2 class="tr13 td54"><P class="p7 ft2">Dimensions ( mm )</P></TD>
	<TD class="tr13 td7"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr13 td10"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr13 td11"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr13 td55"><P class="p1 ft1">&nbsp;</P></TD>
	<TD colspan=3 class="tr13 td56"><P class="p8 ft2">Core Type</P></TD>
	<TD colspan=2 class="tr13 td57"><P class="p9 ft11">Acc</P></TD>
	<TD class="tr13 td18"><P class="p9 ft2">Repair Request :</P></TD>
	<TD class="tr13 td58"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr13 td59"><P class="p1 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr14 td25"><P class="p1 ft12">&nbsp;</P></TD>
	<TD class="tr14 td1"><P class="p1 ft12">&nbsp;</P></TD>
	<TD class="tr14 td52"><P class="p1 ft12">&nbsp;</P></TD>
	<TD class="tr14 td53"><P class="p1 ft12">&nbsp;</P></TD>
	<TD class="tr6 td28"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr6 td41"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr6 td42"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr6 td43"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr6 td44"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr6 td45"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr6 td43"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr6 td46"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr6 td32"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr6 td60"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr6 td34"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr6 td35"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr6 td61"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr6 td48"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr6 td62"><P class="p1 ft7">&nbsp;</P></TD>
	<TD rowspan=2 class="tr15 td18"><P class="p10 ft13">BS = Bearing Seat</P></TD>
	<TD class="tr14 td58"><P class="p1 ft12">&nbsp;</P></TD>
	<TD class="tr14 td59"><P class="p1 ft12">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr16 td51"><P class="p6 ft2">No.</P></TD>
	<TD class="tr6 td25"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr6 td1"><P class="p2 ft14">Machine / Specification</P></TD>
	<TD class="tr6 td52"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr6 td53"><P class="p11 ft14">Roller No.</P></TD>
	<TD colspan=2 rowspan=3 class="tr13 td60"><P class="p12 ft2">RD</P></TD>
	<TD rowspan=3 class="tr13 td63"><P class="p13 ft2">CD</P></TD>
	<TD rowspan=3 class="tr13 td64"><P class="p14 ft2">RL</P></TD>
	<TD rowspan=3 class="tr13 td65"><P class="p15 ft2">WL</P></TD>
	<TD rowspan=3 class="tr13 td66"><P class="p12 ft2">TL</P></TD>
	<TD class="tr6 td57"><P class="p1 ft7">&nbsp;</P></TD>
	<TD colspan=2 class="tr6 td67"><P class="p16 ft14">Groove</P></TD>
	<TD class="tr6 td55"><P class="p17 ft14">Qty of</P></TD>
	<TD rowspan=3 class="tr13 td68"><P class="p18 ft2">R</P></TD>
	<TD colspan=2 rowspan=3 class="tr13 td69"><P class="p19 ft2">Z</P></TD>
	<TD colspan=2 rowspan=3 class="tr13 td64"><P class="p20 ft11">Y / N</P></TD>
	<TD class="tr6 td58"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr6 td59"><P class="p21 ft14">Remarks</P></TD>
</TR>
<TR>
	<TD class="tr17 td25"><P class="p1 ft15">&nbsp;</P></TD>
	<TD class="tr17 td1"><P class="p1 ft15">&nbsp;</P></TD>
	<TD class="tr17 td52"><P class="p1 ft15">&nbsp;</P></TD>
	<TD class="tr17 td53"><P class="p1 ft15">&nbsp;</P></TD>
	<TD class="tr17 td57"><P class="p1 ft15">&nbsp;</P></TD>
	<TD colspan=2 rowspan=2 class="tr18 td63"><P class="p22 ft2">Length</P></TD>
	<TD rowspan=2 class="tr18 td60"><P class="p23 ft11">Grooves</P></TD>
	<TD rowspan=2 class="tr18 td30"><P class="p24 ft2">CD = Centre Drill</P></TD>
	<TD class="tr17 td58"><P class="p1 ft15">&nbsp;</P></TD>
	<TD class="tr17 td59"><P class="p1 ft15">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr14 td70"><P class="p1 ft12">&nbsp;</P></TD>
	<TD class="tr14 td39"><P class="p1 ft12">&nbsp;</P></TD>
	<TD class="tr14 td40"><P class="p1 ft12">&nbsp;</P></TD>
	<TD class="tr14 td71"><P class="p1 ft12">&nbsp;</P></TD>
	<TD class="tr14 td72"><P class="p1 ft12">&nbsp;</P></TD>
	<TD class="tr14 td64"><P class="p1 ft12">&nbsp;</P></TD>
	<TD class="tr14 td73"><P class="p1 ft12">&nbsp;</P></TD>
	<TD class="tr14 td74"><P class="p1 ft12">&nbsp;</P></TD>
</TR>

<% @object.roller_identification_form_details.each do |detail| %>
    <TR>
    	<TD >123123</P></TD>
    	<TD ><P class="p26 ft11"><%= detail.machine.name %> </P></TD>
    	<TD ><P class="p1 ft17">&nbsp;</P></TD>
    	<TD ><P class="p27 ft16"><%= detail.roller_no %></P></TD>
    	<TD ><P class="p28 ft11"><%= detail.rd %></P></TD>
    	<TD ><P class="p28 ft11"><%= detail.cd %></P></TD>
    	<TD ><P class="p29 ft11"><%= detail.rl %></P></TD>
    	<TD ><P class="p28 ft11"><%= detail.wl %></P></TD>
    	<TD ><P class="p28 ft11"><%= detail.tl %></P></TD>
    	<TD ><P class="p1 ft17">&nbsp;</P></TD>
    	<TD ><P class="p30 ft11"><%= detail.groove_length %></P></TD>
    	<TD ><P class="p31 ft11"><%= detail.groove_amount %></P></TD>
    	<TD ><P class="p1 ft17">&nbsp;</P></TD>
    	<TD ><P class="p1 ft17">&nbsp;</P></TD>
    	<TD ><P class="p1 ft17">&nbsp;</P></TD>
    	<TD colspan=2 ><P class="p20 ft11">N</P></TD>
    	<TD ><P class="p24 ft16"<%= detail.repair_request_case %>/P></TD>
    	<TD ><P class="p1 ft17">&nbsp;</P></TD>
    	<TD ><P class="p1 ft17">&nbsp;</P></TD>
    </TR>
<% end %>





<TR>
	<TD class="tr7 td70"><P class="p1 ft8">&nbsp;</P></TD>
	<TD class="tr7 td39"><P class="p1 ft8">&nbsp;</P></TD>
	<TD class="tr7 td40"><P class="p1 ft8">&nbsp;</P></TD>
	<TD class="tr7 td71"><P class="p1 ft8">&nbsp;</P></TD>
	<TD class="tr7 td72"><P class="p1 ft8">&nbsp;</P></TD>
	<TD class="tr7 td28"><P class="p1 ft8">&nbsp;</P></TD>
	<TD class="tr7 td80"><P class="p1 ft8">&nbsp;</P></TD>
	<TD class="tr7 td63"><P class="p1 ft8">&nbsp;</P></TD>
	<TD class="tr7 td64"><P class="p1 ft8">&nbsp;</P></TD>
	<TD class="tr7 td65"><P class="p1 ft8">&nbsp;</P></TD>
	<TD class="tr7 td66"><P class="p1 ft8">&nbsp;</P></TD>
	<TD class="tr7 td64"><P class="p1 ft8">&nbsp;</P></TD>
	<TD class="tr7 td46"><P class="p1 ft8">&nbsp;</P></TD>
	<TD class="tr7 td81"><P class="p1 ft8">&nbsp;</P></TD>
	<TD class="tr7 td60"><P class="p1 ft8">&nbsp;</P></TD>
	<TD class="tr7 td68"><P class="p1 ft8">&nbsp;</P></TD>
	<TD class="tr7 td35"><P class="p1 ft8">&nbsp;</P></TD>
	<TD class="tr7 td61"><P class="p1 ft8">&nbsp;</P></TD>
	<TD class="tr7 td48"><P class="p1 ft8">&nbsp;</P></TD>
	<TD class="tr7 td62"><P class="p1 ft8">&nbsp;</P></TD>
	<TD class="tr7 td30"><P class="p1 ft8">&nbsp;</P></TD>
	<TD class="tr7 td73"><P class="p1 ft8">&nbsp;</P></TD>
	<TD class="tr7 td74"><P class="p1 ft8">&nbsp;</P></TD>
</TR>
</TABLE>
<TABLE cellpadding=0 cellspacing=0 class="t1">
<TR>
	<TD class="tr9 td82"><P class="p1 ft18">Inspector,</P></TD>
	<TD class="tr9 td83"><P class="p1 ft18">Checked By,</P></TD>
	<TD class="tr9 td84"><P class="p1 ft18">Given By,</P></TD>
	<TD class="tr9 td85"><P class="p1 ft18">Received By,</P></TD>
</TR>
</TABLE>
</DIV>
<DIV id="id_2">
<TABLE cellpadding=0 cellspacing=0 class="t2">
<TR>
	<TD class="tr8 td82"><P class="p32 ft18">................................ ................................</P></TD>
	<TD class="tr8 td83"><P class="p32 ft18">................................</P></TD>
	<TD class="tr8 td84"><P class="p32 ft18">................................</P></TD>
</TR>
</TABLE>
</DIV>
</DIV>
</BODY>
</HTML>
