<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>LKS</title>
    <%#= wicked_pdf_stylesheet_link_tag "application" %>
    <link rel="stylesheet" 
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <style>
      @import url(http://fonts.googleapis.com/css?family=Bree+Serif);
      body, h1, h2, h3, h4, h5, h6{
      font-family: 'Bree Serif', serif;
      }
    </style>
  </head>
  
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <h1> 
              <%= wicked_pdf_image_tag 'logo.png' %>
          
          </h1>
        </div>
        <div class="col-xs-6 text-right">
          <h1>Lembar Konfirmasi Setoran</h1>
          <h1>
            <small>
            Printed: <%= "#{@local_now.day}/#{@local_now.month}/#{@local_now.year}"   %>
            </small>
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div class="panel panel-default">
  <!--           <div class="panel-heading">
              <h4>From: <a href="#">Your Name</a></h4>
            </div> -->
            <!-- <div class="panel-body"> -->
              <table class="table table-condensed">
                <tbody>
                  <tr> 
                    <td>Kelompok</td>
                    <td><%= "[#{@group_loan_group_number}]" %>  <%=  @group_loan_name %> 
                      <!-- [718] Sukapura-718 -->
                    </td> 
                  </tr>

                  <tr> 
                    <td>PKP</td>
                    <td></td> 
                  </tr>

                  <tr> 
                    <td>Setoran</td>
                    <td><%= @week_number %></td> 
                  </tr>
                </tbody>
              </table> 
            <!-- </div> -->
          </div>
        </div>
        <div class="col-xs-5 col-xs-offset-2">
          <div class="panel panel-default">
<!--             <div class="panel-heading">
              <h4>To : <a href="#">Client Name</a></h4>
            </div> -->
            <!-- <div class="panel-body"> -->
              <table class="table table-condensed">
                <tbody>
                  <tr> 
                    <td>Hari Setor</td>
                    <td></td> 
                  </tr>

                  <tr> 
                    <td>Tanggal Setor</td>
                    <td> 
                      <%= "#{@confirmed_at.day}/#{@confirmed_at.month}/#{@confirmed_at.year}"   %> 
                    </td> 
                  </tr>

                  <tr> 
                    <td>Catatan</td>
                    <td></td> 
                  </tr>
                </tbody>
              </table> 
            <!-- </div> -->
          </div>
        </div>
      </div>
      <!-- / end client details section -->
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>
              <h4>No</h4>
            </th>
            <th>
              <h4>Nama</h4>
            </th>
            <th>
              <h4>Id</h4>
            </th>
            <th>
              <h4>Pinjaman</h4>
            </th>
            <th>
              <h4>Cicilan</h4>
            </th>
            <th>
              <h4>Bayar</h4>
            </th>
            <th>
              <h4>Tepat</h4>
            </th>
            <th>
              <h4>Menabung</h4>
            </th>
            <th>
              <h4>Ambil</h4>
            </th>
            <th>
              <h4>Saldo</h4>
            </th>
            <th>
              <h4>Sisa</h4>
            </th>
            <th>
              <h4>DTR</h4>
            </th>
            <th>
              <h4>Telat</h4>
            </th>
            <th>
              <h4>TTD</h4>
            </th>
          </tr> 
          <!-- 13 column -->
        </thead>
        <tbody>
          <% counter = 1 %>
          <% total_setoran_mingguan = BigDecimal("0") %>
          <% total_bayar  = 0 %>
          <% total_tepat_waktu = 0 %>
          <% total_penambahan_tabungan = BigDecimal("0") %>
          <% total_penarikan_tabungan = BigDecimal("0") %>
          <% sisa_tabungan = BigDecimal("0") %>
          <% sisa_pinjaman = BigDecimal("0") %>
          <% total_kumulative_tanggung_renteng =  0 %>
          <% total_kumulative_telat = 0 %> 

          <% @objects.each do |object| %>
            <% total_setoran_mingguan = total_setoran_mingguan + 
                BigDecimal( object["total_installment_adjusted"]) %>

            <% if object["payment_status"] == "ya" %>
              <% total_bayar  = total_bayar + 1  %>
            <% end %> 

            <% if object["attendance_status"] == "ya" %>
              <% total_tepat_waktu  = total_tepat_waktu + 1  %>
            <% end %> 


            <% total_penambahan_tabungan = total_penambahan_tabungan + 
                BigDecimal( object["savings_addition_adjusted"]  ) %> 

            <% total_penarikan_tabungan = total_penarikan_tabungan + 
                BigDecimal( object["savings_addition_adjusted"]  ) %> 
            
            
            <% sisa_tabungan = sisa_tabungan + 
                BigDecimal( object["remaining_savings_adjusted"] ) %>

            <% sisa_pinjaman = sisa_pinjaman + 
                BigDecimal( object["remaining_amount_adjusted"]) %>

            <% total_kumulative_tanggung_renteng =  total_kumulative_tanggung_renteng + 
                  object["total_dtr"].to_i %>

            <% total_kumulative_telat = total_kumulative_telat +  
                  object["total_telat"].to_i %> 
            <tr>
              <td><%= counter %></td>
              <td><%= object["member_name"] %></td>
              <td class="text-right"><%= object["member_id_number"] %></td>
              <td class="text-right">
                <%#= number_with_delimiter(@number, :delimiter => ',') %>

                <%= object["total_principal_adjusted"] %>
              </td>
              <td class="text-right"><%= object["total_installment_adjusted"] %></td>
              <td class="text-right"><%= object["payment_status"] %></td>
              <td class="text-right"><%= object["attendance_status"] %></td>
              <td class="text-right"><%= object["savings_addition_adjusted"] %></td>
              <td class="text-right"><%= object["savings_withdrawal_adjusted"] %></td>
              <td class="text-right"><%= object["remaining_savings_adjusted"] %></td>
              <td class="text-right"><%= object["remaining_amount_adjusted"] %></td>
              <td class="text-right"><%= object["total_dtr"] %></td>
              <td class="text-right"><%= object["total_telat"] %></td>
              <td class="text-right"></td>

            </tr>

            <% counter += 1 %>
          <% end %> 

          <tr style="font-weight: bold;">
            <td colspan="4" class="text-right">Total</td>
         <!--    <td></td>
            <td class="text-right"></td>
            <td class="text-right"></td> -->
            <td class="text-right"><%= total_setoran_mingguan %></td>
            <td class="text-right"><%= total_bayar %></td>
            <td class="text-right"><%= total_tepat_waktu %></td>
            <td class="text-right"><%= total_penambahan_tabungan%></td>
            <td class="text-right"><%= total_penarikan_tabungan%></td>
            <td class="text-right"><%= sisa_tabungan %></td>
            <td class="text-right"><%= sisa_pinjaman %></td>
            <td class="text-right"><%= total_kumulative_tanggung_renteng %></td>
            <td class="text-right"><%= total_kumulative_tanggung_renteng %></td>
            <td class="text-right"></td>

          </tr>
          
        


        </tbody>
      </table>


<!--       
      <div class="row text-right">
        <div class="col-xs-2 col-xs-offset-8">
          <p>
            <strong>
            Sub Total : <br>
            TAX : <br>
            Total : <br>
            </strong>
          </p>
        </div>
        <div class="col-xs-2">
          <strong>
          $1200.00 <br>
          N/A <br>
          $1200.00 <br>
          </strong>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h4>Bank details</h4>
            </div>
            <div class="panel-body">
              <p>Your Name</p>
              <p>Bank Name</p>
              <p>SWIFT : --------</p>
              <p>Account Number : --------</p>
              <p>IBAN : --------</p>
            </div>
          </div>
        </div>
        <div class="col-xs-7">
          <div class="span7">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4>Contact Details</h4>
              </div>
              <div class="panel-body">
                <p>
                  Email : you@example.com <br><br>
                  Mobile : -------- <br> <br>
                  Twitter : <a href="https://twitter.com/tahirtaous">@TahirTaous</a>
                </p>
                <h4>Payment should be made by Bank Transfer</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
 -->


    </div>
  </body>
</html>