    <div class="container">
      <div class="row">
        <div class="col-xs-6">
        </div>
        <div class="col-xs-6 text-right">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div class="panel panel-default">
            <div class="panel-heading">
            <h1>SalesOrder</h1>
              <br/>
              <br/>
              <br/>
              <br/>
              <br/>

            </div>
            <div class="panel-body">
             <p>
                 No     : <%= @object.nomor_surat %>
                  <br/>
                 Date   : <%= @object.sales_date.strftime("%d-%m-%Y") %>
              </p>
            </div>
          </div>
        </div>




        <div class="col-xs-5 col-xs-offset-2 text-right">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>To : <a href="#"><%= @contact.name %></a></h4>
            </div>
            <div class="panel-body">
              <p>

                <%= @contact.address %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- / end client details section -->
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>
              <h4>No</h4>
            </th>
            <th>
              <h4>Sku</h4>
            </th>
            <th>
              <h4>Nama Produk</h4>
            </th>
            <th>
              <h4>Qty</h4>
            </th>
            <th>
              <h4>Unit Price</h4>
            </th>
            <th>
              <h4>Total Price <b>(<%= @object.exchange.name %>)</b></h4>
            </th>
          </tr>
        </thead>
        <tbody>

          <% counter  = 1 %>
          <% total = BigDecimal("0") %>
          <% @object.sales_order_details.each do |detail| %>
            <tr>
              <td><%= counter %></td>
              <td> <%= detail.item.sku %></td>
              <td> <%= detail.item.name %></td>
              <td><%= detail.amount  %> x <%= detail.item.uom.name %></td>
              <td>

                <%= number_to_currency  detail.price  ,
                        unit: '', separator: ',', delimiter: '.', format: '%n %u' %>
              </td>
              <td class="text-right">
                <%= number_to_currency  detail.price * detail.amount ,
                        unit: '', separator: ',', delimiter: '.', format: '%n %u' %>

              </td>
            </tr>
            <% counter = counter + 1 %>
            <% total = total + detail.price * detail.amount  %>

          <% end %>

        </tbody>
      </table>
      <div class="row text-right">
        <div class="col-xs-2 col-xs-offset-8">
          <p>
            <strong>

            Total : <br>
            </strong>
          </p>
        </div>
        <div class="col-xs-2">
          <strong>
          <%= number_to_currency total, unit: '', separator: ',', delimiter: '.', format: '%n %u' %>
          <br>
          </strong>
        </div>
      </div>
